In [1]:
from pathlib import Path
import requests

def download_raw_data(year: int, month: int) -> Path:
    """"""
    URL = f"https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet"
    response = requests.get(URL)

    if response.status_code == 200:
        path = f"../data/raw/rides_{year}-{month:02d}.parquet"
        open(path, "wb").write(response.content)
        return path
    else:
        raise Exception(f"{URL} is not available")

In [2]:
download_raw_data(year=2024, month=1)

'../data/raw/rides_2024-01.parquet'

In [5]:
import pandas as pd

rides = pd.read_parquet("../data/raw/rides_2024-01.parquet")

rides.head(20)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.00
5,1,2024-01-01 00:54:08,2024-01-01 01:26:31,1.0,4.70,1.0,N,148,141,1,29.6,3.50,0.5,6.90,0.00,1.0,41.50,2.5,0.00
6,2,2024-01-01 00:49:44,2024-01-01 01:15:47,2.0,10.82,1.0,N,138,181,1,45.7,6.00,0.5,10.00,0.00,1.0,64.95,0.0,1.75
7,1,2024-01-01 00:30:40,2024-01-01 00:58:40,0.0,3.00,1.0,N,246,231,2,25.4,3.50,0.5,0.00,0.00,1.0,30.40,2.5,0.00
8,2,2024-01-01 00:26:01,2024-01-01 00:54:12,1.0,5.44,1.0,N,161,261,2,31.0,1.00,0.5,0.00,0.00,1.0,36.00,2.5,0.00
9,2,2024-01-01 00:28:08,2024-01-01 00:29:16,1.0,0.04,1.0,N,113,113,2,3.0,1.00,0.5,0.00,0.00,1.0,8.00,2.5,0.00
10,2,2024-01-01 00:35:22,2024-01-01 00:41:41,2.0,0.75,1.0,N,107,137,1,7.9,1.00,0.5,0.00,0.00,1.0,12.90,2.5,0.00
11,1,2024-01-01 00:25:00,2024-01-01 00:34:03,2.0,1.20,1.0,N,158,246,1,14.9,3.50,0.5,3.95,0.00,1.0,23.85,2.5,0.00
12,1,2024-01-01 00:35:16,2024-01-01 01:11:52,2.0,8.20,1.0,N,246,190,1,59.0,3.50,0.5,14.15,6.94,1.0,85.09,2.5,0.00
13,1,2024-01-01 00:43:27,2024-01-01 00:47:11,2.0,0.40,1.0,N,68,90,1,5.8,3.50,0.5,1.25,0.00,1.0,12.05,2.5,0.00
14,1,2024-01-01 00:51:53,2024-01-01 00:55:43,1.0,0.80,1.0,N,90,68,2,6.5,3.50,0.5,0.00,0.00,1.0,11.50,2.5,0.00
15,1,2024-01-01 00:50:09,2024-01-01 01:03:57,1.0,5.00,1.0,N,132,216,2,21.2,2.75,0.5,0.00,0.00,1.0,25.45,0.0,1.75
16,1,2024-01-01 00:41:06,2024-01-01 00:53:42,1.0,1.50,1.0,N,164,79,1,12.8,3.50,0.5,4.45,0.00,1.0,22.25,2.5,0.00
17,2,2024-01-01 00:52:09,2024-01-01 00:52:28,1.0,0.00,1.0,N,237,237,2,3.0,1.00,0.5,0.00,0.00,1.0,8.00,2.5,0.00
18,2,2024-01-01 00:56:38,2024-01-01 01:03:17,1.0,1.50,1.0,N,141,263,1,9.3,1.00,0.5,3.00,0.00,1.0,17.30,2.5,0.00
19,2,2024-01-01 00:32:34,2024-01-01 00:49:33,1.0,2.57,1.0,N,161,263,1,17.7,1.00,0.5,10.00,0.00,1.0,32.70,2.5,0.00

In [6]:
rides = rides[['tpep_pickup_datetime', 'PULocationID']]

In [7]:
rides.rename(columns={
    'tpep_pickup_datetime': 'pickup_datetime',
    'PULocationID': 'pickup_location_id',
}, inplace=True)

In [8]:
rides.head(20)

       pickup_datetime  pickup_location_id
0  2024-01-01 00:57:55                 186
1  2024-01-01 00:03:00                 140
2  2024-01-01 00:17:06                 236
3  2024-01-01 00:36:38                  79
4  2024-01-01 00:46:51                 211
5  2024-01-01 00:54:08                 148
6  2024-01-01 00:49:44                 138
7  2024-01-01 00:30:40                 246
8  2024-01-01 00:26:01                 161
9  2024-01-01 00:28:08                 113
10 2024-01-01 00:35:22                 107
11 2024-01-01 00:25:00                 158
12 2024-01-01 00:35:16                 246
13 2024-01-01 00:43:27                  68
14 2024-01-01 00:51:53                  90
15 2024-01-01 00:50:09                 132
16 2024-01-01 00:41:06                 164
17 2024-01-01 00:52:09                 237
18 2024-01-01 00:56:38                 141
19 2024-01-01 00:32:34                 161

In [10]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_datetime     datetime64[us]
 1   pickup_location_id  int32
dtypes: datetime64[us](1), int32(1)
memory usage: 33.9 MB

In [9]:
rides['pickup_datetime'].describe()

count                       2964624
mean     2024-01-17 00:46:36.431092
min             2002-12-31 22:59:39
25%      2024-01-09 15:59:19.750000
50%      2024-01-17 10:45:37.500000
75%      2024-01-24 18:23:52.250000
max             2024-02-01 00:01:15
Name: pickup_datetime, dtype: object

In [12]:
rides = rides[rides.pickup_datetime >= '2024-01-01']
rides = rides[rides.pickup_datetime < '2024-02-01']
rides['pickup_datetime'].describe()

count                       2964606
mean     2024-01-17 01:02:08.093335
min             2024-01-01 00:00:00
25%             2024-01-09 15:59:24
50%             2024-01-17 10:45:42
75%             2024-01-24 18:23:53
max             2024-01-31 23:59:55
Name: pickup_datetime, dtype: object

In [13]:
rides.to_parquet('../data/transformed/validated_rides_2024_01.parquet')