## Tranforming raw data into features and targets

In [1]:
!pwd

/Users/sushmitha047/Documents/RealWorldML-Pau/taxi_demand_predictor/notebooks

In [2]:
import os
os.chdir('..')

In [3]:
# to reload the kernel with latest changes that is made to .py files
%reload_ext autoreload
%autoreload 2

In [4]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022-01 was already in local storage
Downloading file 2022-02
Downloading file 2022-03
Downloading file 2022-04
Downloading file 2022-05
Downloading file 2022-06
Downloading file 2022-07
Downloading file 2022-08
Downloading file 2022-09
Downloading file 2022-10
Downloading file 2022-11
Downloading file 2022-12

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]

In [5]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:03<00:00, 80.72it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
2295115 2022-12-31 19:00:00      0                 199
2295116 2022-12-31 20:00:00      0                 199
2295117 2022-12-31 21:00:00      0                 199
2295118 2022-12-31 22:00:00      0                 199
2295119 2022-12-31 23:00:00      0                 199

[2295120 rows x 3 columns]

In [6]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month of history
    step_size=24,
)

100%|██████████| 262/262 [00:17<00:00, 14.69it/s]

In [7]:
print(f"{features.shape=}")

features.shape=(88294, 674)

In [8]:
print(f"{targets.shape=}")

targets.shape=(88294,)

In [9]:
final_data = features
final_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
final_data.to_parquet(TRANSFORMED_DATA_DIR/ 'final_data.parquet')