## Tranforming raw data into features and targets

In [4]:
!pwd

/Users/sushmitha047/Documents/RealWorldML-Pau/taxi_demand_predictor/notebooks

In [13]:
import os
os.chdir('..')

In [18]:
# to reload the kernel with latest changes that is made to .py files
%reload_ext autoreload
%autoreload 2

In [17]:
from src.data import load_raw_data

rides = load_raw_data(year=2024)
rides

File 2024-01 was already in local storage
File 2024-02 was already in local storage
File 2024-03 was already in local storage
File 2024-04 was already in local storage
File 2024-05 was already in local storage
File 2024-06 was already in local storage
File 2024-07 was already in local storage
File 2024-08 was already in local storage
File 2024-09 was already in local storage
File 2024-10 was already in local storage
File 2024-11 was already in local storage
Downloading file 2024-12
2024-12 file is not available

            pickup_datetime  pickup_location_id
0       2024-01-01 00:57:55                 186
1       2024-01-01 00:03:00                 140
2       2024-01-01 00:17:06                 236
3       2024-01-01 00:36:38                  79
4       2024-01-01 00:46:51                 211
...                     ...                 ...
3646364 2024-11-30 23:11:15                 162
3646365 2024-11-30 23:49:30                 132
3646366 2024-11-30 23:31:46                 100
3646367 2024-11-30 23:41:21                  42
3646368 2024-11-30 23:21:52                 116

[37500963 rows x 2 columns]

In [16]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 263/263 [00:02<00:00, 106.43it/s]

                pickup_hour  rides  pickup_location_id
0       2024-01-01 00:00:00     25                   4
1       2024-01-01 01:00:00     29                   4
2       2024-01-01 02:00:00     34                   4
3       2024-01-01 03:00:00     31                   4
4       2024-01-01 04:00:00     32                   4
...                     ...    ...                 ...
2114515 2024-11-30 19:00:00      0                 110
2114516 2024-11-30 20:00:00      0                 110
2114517 2024-11-30 21:00:00      0                 110
2114518 2024-11-30 22:00:00      0                 110
2114519 2024-11-30 23:00:00      0                 110

[2114520 rows x 3 columns]

In [19]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month of history
    step_size=24,
)

100%|██████████| 263/263 [00:12<00:00, 20.98it/s]

In [20]:
print(f"{features.shape=}")

features.shape=(80741, 674)

In [21]:
print(f"{targets.shape=}")

targets.shape=(80741,)

In [22]:
final_data = features
final_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
final_data.to_parquet(TRANSFORMED_DATA_DIR/ 'final_data.parquet')